
@{
    ViewBag.Title = "Login";
}

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Acceso</h4>
                               
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">Usuario o Correo Electronico<span>*</span></label>
                                    <input name="Nombre Usuario" type="text" required placeholder="Usuario">
                                    <label for="">Contraseña<span>*</span></label>
                                    <input name="Password" type="password" required placeholder="contraseña">
                                    <button type="submit" class="aa-browse-btn">Logeo</button>
                                    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Recordarme </label>
                                    <p class="aa-lost-password"><a href="#">olvidaste tu contraseña?</a></p>
                            }
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Registro</h4>

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    <label for="">Nombre<span>*</span></label>
                                    <input name="First_Name" type="text" placeholder="Ingrese nombre">

                                    <label for="">Apellido<span>*</span></label>
                                    <input name="Last_Name" type="text" placeholder="Ingrese apellido">

                                    <label for="">Nombre Usuario<span>*</span></label>
                                    <input name="UserName" type="text" placeholder="Nombre Usuario">

                                    <label for="">Contraseña<span>*</span></label>
                                    <input name="Password" type="password" placeholder="Contraseña">

                                    <label for="">Correo<span>*</span></label>
                                    <input name="Email" type="text" placeholder="Ingrese su correo">

                                    <label for="">Telefono<span>*</span></label>
                                    <input name="Mobile1" type="text" placeholder="Telefono">

                                    <label for="">Direccion<span></span></label>
                                    <input name="Address1" type="text" placeholder="Direccion">

                                    <button type="submit" class="aa-browse-btn">Registrar</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
