
@{
    ViewBag.Title = "Thankyou";
}

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Gracias</h2>
                    <span>Su pedido se completo con exito.</span>
                    <p>Gracias por su compra.</p>
                    <a href="@Url.Action("Index","Home")"> Ir a la paguina de inicio.</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->

